body {
  margin: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.toDoHeader {
  display: flex;
  justify-content: center;
  margin: 15px;

}

.itemInputBox {
  display: flex;
  justify-content: center;
}

.itemInputBox button {
  margin: 12px;
  background-color: #acca94;
  border-radius: 15px;
}

.itemInputBox input {
  width: 200px;
  border-radius: 5px;
}

.listBox {
  display: flex;
  flex-direction: column;
  align-items: left;

}


.listBox button {
  margin-left: 25px;
  background-color: #f9705d;
  border-radius: 15px;


}

.toDoList {
  min-width: 335px;
  border: 2px solid black;
  border-radius: 25px;
  background-color: #3c4453;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-height: 350px;
}

.toDoListContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
  background-color: #313642;
}